body
{
    font-family: "Poppins", Arial, sans-serif;
    color: #222;
}

.hero
{
	//border-bottom-left-radius: 12%; border-bottom-right-radius: 12%;
	background-image: url('assets/img/splash.jpg');
	background-size: cover;

	height: 26rem;
	max-height: 26rem;

	box-shadow: inset 0 0 99999px rgba(0, 0, 0, 0.2);

	.text-shadow
	{
		text-shadow: 2px 2px 4px #333;
	}
}

.card-width
{
	width: 49%;
	margin-bottom: 1rem;

	@media (max-width: 768px) {
		width: 100%;
	}
	
	@media (min-width: 1500px) {
		width: 32%;
	}
}

#overlay {
	position: absolute; /* Sit on top of the page content */
	//display: none; /* Hidden by default */
	width: 100%; /* Full width (cover the whole page) */
	height: 100%; /* Full height (cover the whole page) */
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	background-color: rgba(0,0,0,0.85); /* Black background with opacity */
	z-index: -1; /* Specify a stack order in case you're using a different order for other elements */
	cursor: pointer; /* Add a pointer on hover */
  }

.overlay
{
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background: rgba(0, 0, 0, 0);
	transition: background 0.2s ease;
}
  
.overlay:hover
{
	background: rgba(0, 0, 0, 0.15);
}

/* FLOATING ACTION BUTTON */
#fab
{
	position: fixed;
	right: 30px;
	bottom: 30px;

	display: none;

	width: 36px;
	height: 36px;
	border-radius: 5px;

	text-align: center;
	
	z-index: 9999;
	-webkit-tap-highlight-color: transparent;

	transition: opacity 0.2s;
}

#fab:hover
{
	opacity: 1;
}

#fab i
{
	margin: 0;
	position: relative;

	left: 0;
	top: 6px;
	font-size: 16px;
}