body
{
    color: #111; 
}

.font-anton
{
    font-family: "Anton", Arial;
}

.main-header
{
    height: 100vh;
    min-height: 100%;
    background-image: url('images/hero.jpg');
    background-size: cover;
    
    z-index: 5;
    position: relative;
}

.main-header:before {
    content: "";
    position: absolute;
    left: 0; right: 0;
    top: 0; bottom: 0;
    background: rgba(0,0,0,.7);
    z-index: -1;
  }

.main-nav
{
    
   // background-color: #777;
}

.hero
{
    .center-enter
    {
        position: absolute;

        top: 45%;  
        left: 50%;

        transform: translate(-50%, -50%);
    }

    .center-arrow
    {
        position: absolute;

        top: 58%;  
        left: 50%;

        transform: translate(-50%, -50%);
    }
    
}



.give-us-call
{
    position: relative;

    z-index: 10;
    margin-top: -9rem;

    .guc-title
    {
        letter-spacing: 0.25rem;
    }
}

.bg-fixed
{
    height: 20rem;
    background-image: url('images/services.jpg');
    background-size: cover;
    
    z-index: 5;
    position: relative;
}

::selection {
    color: white;
    background: #0077BB;
  }

.bg-fixed:before {
    content: "";
    position: absolute;
    left: 0; right: 0;
    top: 0; bottom: 0;
    background: rgba(0,0,0,.8);
    z-index: -1;
  }

.section-title
{
    position: relative;
}

.section-subtitle
{
    position: relative;
    letter-spacing: 0.5rem;
}

.section-subtitle::after
{
      content: '';
     width: 8%;
     height: 2px;
     background: #0077BB;
     position: absolute;
     top: 200%;  
     left: 50%;

     transform: translate(-50%, -50%);
}

.service
{
    margin: auto;
}

.our-services .service:hover
{
    cursor: pointer;

    i, p
    {
        color: white;
    }
}

@keyframes bounce {
    0% {
      transform: translateY(0);
    }
    50% {
      transform: translateY(-8px);
    }
    100% {
        transform: translateY(0);
      }
  }

  .bounce {
    -moz-animation: bounce 3s infinite;
    -webkit-animation: bounce 3s infinite;
    animation: bounce 3s infinite;
  }